<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
      <h5 class="card-title"><%= article.category.name %></h5>
      <p class="card-text"><%= article.content %></p>
      <a href="#" class="card-title"><%= article.title %></a>
  </div>
</div>