<div class='main-width'>
  <%= feature_article(@feature_article)%>
</div>
<div class='row'>
  <% @articles.each do |article| %>
    <%= specific_category_articles(article) %>
  <% end %>
</div>

  
  <%# <td><%= upvote_or_downvote_btn(article) %>