<div class="container-fluid new-article">
  <div class="row d-flex align-items-center border-info justify-content-center">
    <div class="col-4 text-center">
      <h2 class = "color">New Article</h2>
      <button type="button" class="btn btn-light back-color">
        <%= link_to 'Back', articles_path %>
      </button>
    </div>
  </div>
</div>      


<%= render 'form', article: @article %>

