// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-article {
  padding-top: 10px;
}

.article-field {
  padding: 20px 0 20px 0;
}

.field {
  padding: 3px;
}
