// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-height {
  height: 50vh;
}

.full-width {
  width: 100%;
  height: 100%;
}