// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  padding: 100px 300px 100px 300px;
  color: white;
}

.border {
  border: rgb(232, 75, 42) solid 1px !important;
}
