<footer class="footer-link">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="w-25 p-3">
      <%= image_tag "logo.png", class: "logo"%>
    </div>
    <div class="w-50 p-3 text-center text-white">All images are from
      <a href="https://pixabay.com/pt/">PIXABAY.</a>
      <span class="text-white">All rights reserved !</span>
    </div>
    <div class="w-25 p-3 justify-content-between py-3 text-center">
      <%= link_to "https://www.linkedin.com/in/bruna-gobi/" do %>
        <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
      <% end %>
      <%= link_to "https://github.com/brugobi" do %>
        <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
      <% end %>
      <%= link_to "https://twitter.com/BrunaGobi2" do %>
        <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</footer>